#web{
    display: flex;
    justify-content: center;
    align-items: center;
}
#zone{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 1200px;
    height: 600px;
}
#Information{
    background-color: gray;
    width: 200px;
    height: 600px;
    font-size: 18px;
}        
#game-container{
    width : 800px;
    height : 600px;
    background-color: black;

}
strong{
    font-size: 20px;
    color: black;
    line-height: 0.8;
}
#content{
    height: 90px;
}